<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrl_MG_tJ_0_wK2F1ddgYx672o9fSEMik</string>
	<key>GCM_SENDER_ID</key>
	<string>233662457238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appkpi</string>
	<key>PROJECT_ID</key>
	<string>appkpi-2654c</string>
	<key>STORAGE_BUCKET</key>
	<string>appkpi-2654c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233662457238:ios:840e895efc5b8a39fe29b7</string>
</dict>
</plist>